<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912237636720-anv774r0mp1dujsh5t2rebpgkv0jng0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912237636720-anv774r0mp1dujsh5t2rebpgkv0jng0s</string>
	<key>API_KEY</key>
	<string>AIzaSyBrMH4ZQdRwAOzdxSl6Fh32xTrq6N2GQyc</string>
	<key>GCM_SENDER_ID</key>
	<string>912237636720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>mobileapp-f8817</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp-f8817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912237636720:ios:8c82eaa814ccf7ed1598b5</string>
</dict>
</plist>